##exportPattern("^[[:alpha:]]+")
export("numDeltaMethod","predictnl","predictnl.default","predictnl.lm",
       "confint.predictnl","print.predictnl")
importFrom(stats,glm,lm)
#importFrom(stats4,mle)
